:root {
    --violetd: hsl(256, 26%, 20%);
    --bluegr: hsl(216, 30%, 68%);
    --violetvd: hsl(270, 9%, 17%);
    --violetddgr: hsl(273, 4%, 51%);
    --grayvl: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-button {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}



main {
    font-family: 'Karla', sans-serif;
}




/* .container-intro {
    width: 100%;
} */

.intro {
    display: block;
    width: 100%;
    object-fit: fill;
}


.humanizing {
    background-color: var(--violetd);
    color: white;
    text-align: center;

}



.humanizing h1 {
    padding: 40px 0 10px 0;
}

.plans {
    background-color: var(--violetd);
    border: 1px solid white;
    color: white;
    padding: 5px;
    font-family: 'Karla', sans-serif;
    margin: 20px 0 40px 0;
}

.left-intro {
    background-image: url(images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
}



.white-line {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 100px;
    /* background: none; */
}

hr {
    background-color: var(--violetd);
    width: 50%;
    margin: 0 auto;
    
}

p {
    margin: 0 10px;
}

.right-intro {
    background-image: url(images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: contain; */
}

.diff {
    text-align: center;
    padding-top: 10px;
    
}

.diff h1 {
    margin-bottom: 50px;
}

.diff h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.diff p {
    margin-bottom: 40px;
}

.more {
    width: 80%;
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: var(--violetd);
    color: white;
    margin: 150px auto;
    text-align: center;
    padding: 70px 30px;
}

.more h1 {
    padding-bottom: 50px;
}

.more button {
    padding: 5px 10px;
    background-color: var(--violetd);
    border: 1px solid white;
    color: white;
}

.desktop {
    display: none;
}


/* .mobile {
    display: none;
} */